<!-- Footer -->
<footer class="bg-black text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Text -->
    <section class="mb-4 footer-brand">
      <div class="footer-logo">
          <a href="/">
            <img src="/img/logo.png" alt="F8 logo">
          </a>
      </div>
      <div class="footer-introduce">
        <p>F8 là nơi học lập trình miễn phí.</p>
        <p>Các khoá học được đầu tư kỹ lưỡng từ nội dung tới chất lượng hình ảnh và âm thanh.</p>
        <p>Học viên có thể học từ con số 0 tới khi trở thành lập trình viên chuyên nghiệp tại đây.</p>
      </div>
    </section>
    <!-- Section: Text -->

    <!-- Section: Form -->
    <section class="mt-4">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-md-8 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="email-footer" placeholder="Nhập email..."/>
              <label class="form-label label-email" for="email-footer">Nhập email để đăng ký nhận những thông tin hữu ích về học tập từ F8</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-footer-subscribe mb-4">
              Đăng ký
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 footer-list">
          <h5 class="text-uppercase">F8</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="/" class="text-color">Giới thiệu</a>
            </li>
            <li>
              <a href="/" class="text-color">Tuyển dụng</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 footer-list">
          <h5 class="text-uppercase">Sản phẩm</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://mycv.vn/" class="text-color">Viết CV xin việc</a>
            </li>
            <li>
              <a href="/" class="text-color">Học lập trình online</a>
            </li>
            <li>
              <a href="https://www.youtube.com/c/F8VNOfficial" class="text-color">Kênh Youtube F8</a>
            </li>
            <li>
              <a href="https://url.mycv.vn/?ref=f8_footer&to=f8_fb_group" class="text-color">Nhóm Facebook F8</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 footer-list">
          <h5 class="text-uppercase">Đối tác</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/" class="text-color">Tải phần mềm Macbook</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 footer-list">
          <h5 class="text-uppercase">Hình thức thanh toán</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="/" class="text-color">MasterCard</a>
            </li>
            <li>
              <a href="/" class="text-color">Visa</a>
            </li>
            <li>
              <a href="/" class="text-color">Momo</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->

    <!-- Section: Social media -->
    <section class="mt-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1 footer-socials-btn" href="/" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1 footer-socials-btn" href="/" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1 footer-socials-btn" href="/" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1 footer-socials-btn" href="/" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1 footer-socials-btn" href="/" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1 footer-socials-btn" href="/" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-color" href="https://fullstack.edu.vn/">Fullstack.edu.vn</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->